@font-face {
    font-family: 'Uni Sans Bold';
    src: url('../fonts/subset-UniSansBold.eot');
    src: url('../fonts/subset-UniSansBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-UniSansBold.woff2') format('woff2'),
        url('../fonts/subset-UniSansBold.woff') format('woff'),
        url('../fonts/subset-UniSansBold.ttf') format('truetype'),
        url('../fonts/subset-UniSansBold.svg#UniSansBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
	font-family: 'Uni Sans Book';
	src: url('../fonts/UniSansBook.eot');
	src: url('../fonts/UniSansBook.eot?#iefix') format('embedded-opentype'),
	url('../fonts/UniSansBook.woff') format('woff'),
	url('../fonts/UniSansBook.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}