body {
	background: #006B7F url('../images/lines.jpg') no-repeat right top / cover;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.container__logo {
	text-align: center;
	overflow-x: hidden;
}

.logo__img {
	width: auto;
	display: inline-block;
	margin-left: 50%;
	transform: translate(-50%,0%);
}

.timer-block {
	text-align: center;
	margin-top: -200px;
	margin-bottom: 30px;
	position: relative;
	z-index: 100;	
	margin-left: 15px;
	margin-right: 15px;
}

.timer-block__inset {
	box-shadow: inset 0px 0px 10px 1px #FEFB8D;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;	
    display: flex;
}


.timer-block__text {
	text-align: center;
	font-size: 48px;
	font-family: 'Uni Sans Book', sans-serif;
	font-weight: 300;
	margin-bottom: 15px;
	color: #FEF883;
}


.timer-block__timer {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4871f+0,ec350b+100 */
	background: rgb(244,135,31); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(244,135,31,1) 0%, rgba(236,53,11,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(244,135,31,1) 0%,rgba(236,53,11,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(244,135,31,1) 0%,rgba(236,53,11,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4871f', endColorstr='#ec350b',GradientType=0 ); /* IE6-9 */

	max-width: 540px;
	width: 100%;
	margin: 0 auto;
	border-radius: 10px;
	border: 3px solid #FEFB8D;
	box-shadow: 0px 0px 10px 1px #FEFB8D;
	min-height: 130px;   
	box-sizing: border-box;
	position: relative;
}

.is-countdown {
	background: none;
	border: none;
}

.countdown-section {
	position: relative;
}

.countdown-section + .countdown-section:before {
	content: ':';
	position: absolute;
	display: block;	
	font-family: 'Uni Sans Book', sans-serif;
	font-weight: 300;
	font-size: 72px;
	left: -5px;
	top: -6px;
	color: #FFFFFF
}

.countdown-amount, .countdown-period {
	font-family: 'Uni Sans Book', sans-serif;
	font-weight: 300;
	color: #FFFFFF;	
}

.countdown-amount {
	font-size: 72px;
	display: block;
	position: relative;
}



.countdown-period {
	font-size: 24px;
}


.plusone-block {
	text-align: center;
	margin: 40px 15px;
}

.plusone-block__img {
	max-width: 100%;
	display: block;
	margin: 15px auto;
}

.button-block {
	text-align: center;
}

.button-block__submit {
	text-transform: uppercase;
	color: #004e5d;
	font-size: 36px;
	font-family: 'Uni Sans Bold', sans-serif;
	font-weight: 300;	
	font-weight: bold;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fef883+0,ffc702+100 */
	background: rgb(254,248,131); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(254,248,131,1) 0%, rgba(255,199,2,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(254,248,131,1) 0%,rgba(255,199,2,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(254,248,131,1) 0%,rgba(255,199,2,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef883', endColorstr='#ffc702',GradientType=0 ); /* IE6-9 */

	padding: 15px 80px;
	border-radius: 50px;
	border-bottom: 4px solid #9C5F00;
	display: inline-block;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	outline: none;
	cursor: pointer;
}

.button-block__submit:hover {
	background: #fef883;
}

.button-block__submit:active {
	background: #ffc702;
}


.bottom-logotypes {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
    max-width: 450px;
	width: 100%;
    margin: 30px auto;
    align-items: center;
}

.bottom-logos {
	background-image: url('../images/sprite.png');
	background-repeat: no-repeat;	
	display: block;
	margin: 20px;
}

.bottom-logo-1 {
    width: 83px;
    height: 52px;
	background-position: 0 0;	
}

.bottom-logo-2 {
	width: 120px;
    height: 44px;
	background-position: -100px 0;	
}

.bottom-logo-3 {
    width: 114px;
    height: 38px;
    background-position: -265px 0;
}

.bottom-logo-4 {
    width: 72px;
    height: 23px;
    background-position: 0px -82px;
}

.bottom-logo-5 {
    width: 126px;
    height: 23px;
    background-position: -123px -83px;
}

.bottom-logo-6 {
    width: 85px;
    height: 34px;
    background-position: -292px -79px;
}

@media screen and (max-width: 800px) {
	.timer-block {
		margin-top: -140px;
	}
}



@media screen and (max-width: 640px) {

	.logo__img {
		width: auto;
	}

	.timer-block__timer {
		max-width: 400px;
		min-height: 80px;
	}

	.timer-block {
		margin-top: -120px;
	}

	.timer-block__text {
		font-size: 42px;
	}	

	.timer-block__inset {
		display: block;
	}

	.countdown-section + .countdown-section:before {
		font-size: 46px;
		left: -5px;
		top: -6px;
	}

	.countdown-amount {
		font-size: 44px;
	}

	.countdown-period {
		font-size: 14px;
	}

}

